/* Colores */
$blue:#4fafff ;
$orange:#e9791a;

/* Clases globales */
*{
    font-family: 'Roboto', sans-serif;
}
.margin-100{
    margin-top:100px;
    margin-bottom:100px;
}
.margin-30{
    margin-top:30px;
    margin-bottom:30px;
}
h2,h3{
    color:$orange;
}


/* Navbar */
nav{
    a{
        color: $orange !important;;
    }
}
.navbar-fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* Banner */
.banner{
    background-image: url(https://images.unsplash.com/photo-1510915228340-29c85a43dcfe?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=900&q=60);
    position: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1,h3{
        text-align: center;
        font-weight: bold;
    }
    h1{
        color:white;
    }
}


/* About me */


/* Porfolio */
.portfolio{
    .title{
        color: $orange;
    }
}




/* Hobbies */
.hobbies{
    .title{
        color:$orange;
    }
}



/* footer */
footer{
    .social{
        .facebook, .twitter, .linkedin, .github{
            a{
                text-decoration: none;
            }
        }
        .twitter{
            svg{
                color: #00acee;
            }
        }
        .linkedin{
            svg{
                color: #0e76a8;
            }
        }
        .github{
            svg{
                color: black;
            }
        }
        .facebook{
            svg{
                color: #3b5998;
            }
        }
    }
    .copyright{
        background-color: $orange;
        color: white;
    }
}


